.spx-container {
  padding: 1rem;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.spx-container[spx-no-padding='true'] {
  padding: 0;
}

.spx-container[spx-variant='contained'] {
  border-color: var(--spx-color-surface);
}

.spx-container[spx-variant='outlined'] {
  color: inherit;
}
