name: Releases (@spuxx/nest-utils)

on:
  workflow_dispatch:
  push:
    tags:
    - "nest-utils-*"

jobs:
  release:
    name: Release artifact (@spuxx/nest-utils)
    uses: ./.github/workflows/release.yml
    with:
      PATH: packages/nest-utils
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
