html,
html *,
* {
  /* Border Radius */
  --spx-border-radius: 4px;

  /**
   * Content Colors
   */
  --spx-color-text-default: #f5f5f5;
  --spx-color-text-subtle: #a1a1aa;
  --spx-color-text-highlighted: #ffffff;

  /* Base Colors */
  --spx-color-background: #18181b;
  --spx-color-on-background: var(--spx-color-text-default);
  --spx-color-surface: #3f3f46;
  --spx-color-on-surface: var(--spx-color-text-default);
  --spx-color-primary: #0d9488;
  --spx-color-on-primary: var(--spx-color-text-default);
  --spx-color-secondary: #3f3f46;
  --spx-color-on-secondary: var(--spx-color-text-default);
  --spx-color-gradient: linear-gradient(45deg, var(--spx-color-primary), #a21caf);
  --spx-color-on-gradient: var(--spx-color-text-default);

  /* Status Colors */
  --spx-color-info: #166534;
  --spx-color-on-info: var(--spx-color-text-default);
  --spx-color-success: #166534;
  --spx-color-on-success: var(--spx-color-text-default);
  --spx-color-warning: #ca8a04;
  --spx-color-on-warning: var(--spx-color-text-default);
  --spx-color-error: #b91c1c;
  --spx-color-on-error: var(--spx-color-text-default);

  /* Filters */
  --spx-filter-control-hover: brightness(1.25);
  --spx-filter-control-hover-contained: brightness(0.8);
  --spx-filter-control-disabled: brightness(0.8) grayscale(0.6);

  /* Animations */
  transition:
    filter 100ms,
    backdrop-filter 100ms;
}
